@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@using CVStorage.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Person>

@{
    ViewBag.Title = "User List";
}
<div class="card-deck">
    @foreach (var person in Model)
    {
        if (person.IsAccepted != true)
        {
            var photoPath = "~/images/" + (person.PhotoPath ?? "dummy.png");
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@person.Name</h3>
                </div>

                <img class="card-img-top imageThumbnail" src="@photoPath"
                     asp-append-version="true" />

                <div class="card-footer text-center">
                    <a asp-controller="User" asp-action="Profile" asp-route-id="@person.ID"
                       class="btn btn-primary m-1">View</a>
                    <a asp-controller="Admin" asp-action="AcceptUser" asp-route-id="@person.ID" class="btn btn-success">Accept</a>
                    @if (UserManager.GetUserId(User) == person.ID)
                    {
                        <a asp-controller="User" asp-action="Edit" asp-route-id="@person.ID"
                           class="btn btn-primary m-1">Edit</a>
                    }

                </div>
            </div>
        }
    }
</div>